/* Rich Web Assignment - DT 228/4
// Jody Sinclair - C09539662 & Keith Hagan - C09052437
// Application for students to ask questions in class and vote them up
// or down allowing the lecturer to view the most requested question.
// Users can only vote up and down 5 times each and must sign in before
// viewing or accessing content.
*/

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 0 0;
    padding: 0;
}

.header {
	height: auto;
	background-color: #6699CC;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-bottom: 5px;
}

.login {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	font-size: 12px;
}

.app-title {
	font-variant:small-caps;
	color:#FFFFFF;
	font-size: 64px;
	margin-left: 8px;
}

.contain{
	height:auto;
	background-color: #AAAAAA;
	color:#FFFFFF;
}

.content-contain{
	width:1000px;
}

.left-contain{
	width:600px;
	height: 500px;
	float:left;
	/*overflow:scroll;*/
}

.inner-left{
	width:600px;
	height: 500px;
	float:left;
	overflow:scroll;
}

.right-contain{
	width:400px;
	height: 600px;
	float:left;
	overflow:scroll;
}	

.newq-contain{
	width:400px;
	heigh: 600px;
	float:left;
	overflow:scroll;
	padding-right:15px;
}	

.subtitle{
	font-variant:small-caps;
	color: #BBBBBB;
	font-size: 32px;
}

.instruct {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight:bold;
	font-variant:small-caps;
	colour: #FFFFFF;
	margin-left: 25px;
}

.q-title {
	display: inline-block;
    width: 350px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-top:8px;
	padding-left:10px;
}
	
.desc {
	display: inline-block;
    width: 300px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding-left: 10px;
}


.question {
    cursor: pointer;
    padding: 8px;
	padding-left:40px;
	
}

.question .q {
    display: inline-block;
    width: 420px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding-bottom: 5px;
	padding-top: 5px;
	
}

.question .score {
    display: inline-block;
    width: 50px;
    text-align: right;
    font-size: 1.75em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.new-question {
	display:inline-block;
	padding-top: 10px;
	padding-left: 50px;
}

.question.selected {
    background-color: #6699CC;
}

.question.selected .score {
    color: #000000;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #FFBD23;
} 

.inc {
  cursor: pointer;
}

.dec{
cursor: pointer;
}

.bubble
{
position: relative;
height: auto;
padding: 8px;
background: #EEEEEE;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
}
